[submodule "inference/distilbert-base-uncased-finetuned-sst-2-english"]
	path = inference/distilbert-base-uncased-finetuned-sst-2-english
	url = https://huggingface.co/distilbert/distilbert-base-uncased-finetuned-sst-2-english
